doctype html
html
  include header
  body
    block content
script(src='javascript/ace.js')
script.
  var editor1 = ace.edit("editor1");
  editor1.setTheme("ace/theme/twilight");
  editor1.session.setMode("ace/mode/javascript");
  var editor2 = ace.edit("editor2");
  editor2.setTheme("ace/theme/tomorrow_night_blue");
  editor2.session.setMode("ace/mode/javascript");
